extends layout.pug
block link
  link(href='styles/styleTablaLink.css' rel='stylesheet')  
block scripts
  script(defer src="scripts/alertas.js")  
block content
  main.mx-auto.container.mt-5.w-100.position-relative(data-bs-theme="dark")
    if provincias
      h1.h1.text-center Agregar Deposito Provincial
      hr
      .d-flex.justify-content.align-items-center.mx-auto.col-8.text-center
      form#reasignarForm.form.form-floting.row.g-3.w-100.mx-auto(action="/agregarDepoProvincia", method="post" data-bs-theme="dark" onsubmit=`return confirmarAgregacionDeposito(event)`)
       .d-flex.gap-5.form-floating.justify-content.align-items-center.mx-auto.col-12.text-center
        h3.h3.mx-auto Datos del Nuevo Deposito Provincial  
       .d-flex.gap-5.form-floating.justify-content.align-items-center.mx-auto.col-12.text-center 
        select#provinciaSelect.form-select(name="provinciaSelect" required)
           option(value="-") -
            each option in provincias
             option(value=option)= option  
        label.ms-2(for="provinciaSelect")  Provincias  
       .d-flex.gap-5.form-floating.justify-content.align-items-center.mx-auto.col-12.text-center        
        input#ciudad.form-control(name="ciudad" type="text  " placeholder="sds" required)
        label.ms-2(for="ciudad")  Ciudad 
       .d-flex.gap-5.form-floating.justify-content.align-items-center.mx-auto.col-12.text-center  
        input#telefono.form-control(name="telefono" type="number" placeholder="sds" required)
        label.ms-2(for="telefono")  Telefono
       .d-flex.gap-5.form-floating.justify-content.align-items-center.mx-auto.col-12.text-center  
        input#direccion.form-control(name="direccion" type="text" placeholder="sds" required)
        label.ms-2(for="direccion")  Direccion
       .d-flex.gap-5.form-floating.justify-content-nalign-items-center.mx-auto.col-12.text-center.fle-wrap
           button(type="submit").btn.btn-primary.mx-auto.mb-5  
            i.fa-solid.fa-truck-fast &nbsp; Agregar Deposito
       
  

       
  - if (typeof alert !== "undefined")
        script.
          Swal.fire({
            title: '#{alertTitle}',
            text: '#{alertMessage}',
            icon: '#{alertIcon}',
            showConfirmButton: #{showConfirmButton},
            timer: #{timer}
          }).then(() => {
            window.location = '/#{ruta}';
          })
       